<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head">
</head>
<body>

    <section id="section-ingredients" class="container">
        <div th:replace="ingredient-post-modal :: modal-ingredient"></div>
        <div th:if="${!#strings.isEmpty(errorSavingIngredient)}">
            <div class="alert alert-danger" th:text="${errorSavingIngredient}"></div>
        </div>
        <div th:replace="ingredients-main-table :: ingredients-main-table"></div>

    </section>
</body>
</html>