<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head">
</head>
<body>
    <div th:fragment="modal-ingredient" class="modal fade" id="modal-add-ingredient" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="form-ingredient" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label far="name">Name: </label>
                        <input id="name" name="name" class="form-control"></input>

                        <label far="ingredientsCategory">Category: </label>
                        <select id="ingredientsCategory" name="ingredientsCategory" class="form-control">
                            <option th:each="category : ${ingredientsCategory}" th:value="${category}" th:text="${category}"></option>
                        </select>

                        <input type="hidden" id="id" name="id"></input>

                    </div>
                    <div class="modal-footer">
                        <button id="btn-save" type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>