<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head :: head">
    </head>
    <body>
    <div id="ingredients-main-table" th:fragment="ingredients-main-table">
        <table class="table table-hover table-condensed table-striped table-bordered">
            <thead>
            <tr>
                <td>id</td>
                <td>Name</td>
                <td>Category</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ingredient : ${ingredients}" th:attr="data-id=${ingredient.id}">
                <td th:text="${ingredient.id}"></td>
                <td th:text="${ingredient.name}"></td>
                <td th:text="${ingredient.ingredientsCategory}"></td>
                <td >
                    <button type="button" class="btn btn-danger btn-edit">Edit</button>
                    <button type="button" class="btn btn-danger btn-delete">Delete</button>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="3">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-ingredient">Add new</button>
                </td>
            </tr>

            </tfoot>
        </table>
    </div>
    </body>
</html>