<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="head :: head">
</head>
<body>
    <section class="container">
        <table class="table table-hover table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <td>id</td>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Category</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pizza : ${pizzas}">
                    <td th:text="${pizza.id}"></td>
                    <td th:text="${pizza.name}"></td>
                    <td th:text="${pizza.price}"></td>
                    <td th:text="${pizza.pizzaCategory}"></td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>